Bitte füge ein paar Details zu der Kreuzung hinzu, die du aufführen möchtest.
Deine Kreuzung hat folgende Koordinaten: lat: {{ this.lat }} lon: {{ this.lon }}

<mat-card class="nameCard">
  <mat-form-field appearance="fill">
    <mat-label>Name der Kreuzung</mat-label>
    <input matInput [(ngModel)]="this.name" />
  </mat-form-field>
</mat-card>

<mat-card>
  <image-upload [osm_id]="osm_id"></image-upload>
</mat-card>

<button
  mat-raised-button
  color="primary"
  *ngIf="this.allDataPresent()"
  (click)="this.submit()"
>
  Absenden
</button>
