:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nameCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
mat-form-field {
  width: 100%;
}
