<div class="navigationButtons">
  <button
    mat-raised-button
    color="primary"
    (click)="this.addProblematicTrafficLightSituation()"
  >
    Problematische Ampelschaltung hinzufügen
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="this.navigateToOverviewOfCity()"
  >
    Übersicht registrierter Ampelschaltungen in Deiner Stadt
  </button>
</div>
