<div id="map" class="map"></div>

<div class="buttonBar">
  <button
    mat-raised-button
    color="primary"
    (click)="this.addTrafficLightLocation()"
  >
    Diesen Ort eintragen
  </button>
</div>
