
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.map {
  width: 100%;
  flex-grow: 50;
  min-height: 500px;
}
.buttonBar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
